a{
    background-color: yellow;
}
p{
    background-color: red;
}
div{
    background-color: aqua;
}
span{
    background-color: rgb(101, 101, 160);
}
body{
    background-color: thistle;
}